body {
    font-family: "Segoe UI", GillSans, Helvetica, sans-serif;
    font-size: 10pt;
}

h1 {
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 0;
}

h2 {
    font-size: 100%;
    margin-top: 2em;
}

h3 {
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 0;
}

.center {
  text-align:center;
}

.label {
    text-decoration: underline;
}

.notes {
    margin-top: 0;
}

.large {
    font-size: 120%;
}
